# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Check burgs/out/
/Problems/Check burgs/out/production/classes/
/Problems/Comparing strings ignoring whitespaces/out/
/Problems/Comparing strings ignoring whitespaces/out/production/classes/
/Problems/Even or odd/out/
/Problems/Even or odd/out/production/classes/
/Problems/Exactly one parameter is positive/out/
/Problems/Exactly one parameter is positive/out/production/classes/
/Problems/Floor-space of the room/out/
/Problems/Floor-space of the room/out/production/classes/
/Problems/Grades/out/
/Problems/Grades/out/production/classes/
/Problems/Guest list of a hotel/out/
/Problems/Guest list of a hotel/out/production/classes/
/Problems/Hello!/out/
/Problems/Hello!/out/production/classes/
/Problems/Hiring a chef/out/
/Problems/Hiring a chef/out/production/classes/
/Problems/Next even number/out/
/Problems/Next even number/out/production/classes/
/Problems/Queens/out/
/Problems/Queens/out/production/classes/
/Problems/Squares of natural numbers/out/
/Problems/Squares of natural numbers/out/production/classes/
/Problems/The product of numbers from a to b/out/
/Problems/The product of numbers from a to b/out/production/classes/
/Problems/The result of a Tic-Tac-Toe game/out/
/Problems/The result of a Tic-Tac-Toe game/out/production/classes/
/Problems/The secret enumeration/out/
/Problems/The secret enumeration/out/production/classes/
/Problems/Vowel or not/out/
/Problems/Vowel or not/out/production/classes/
/Problems/We need to learn Java/out/
/Problems/We need to learn Java/out/production/classes/